PORT=3000

POSTGRES_USER=arigatours
POSTGRES_PASSWORD=arigatours_secret
POSTGRES_DB=arigatours_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://arigatours:arigatours_secret@localhost:5432/arigatours_db

JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=24h

ADMIN_EMAIL=admin@arigatours.com
ADMIN_PASSWORD=Admin123!

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_cuenta@gmail.com
SMTP_PASS=tu_app_password_de_gmail
CONTACT_EMAIL=bryan.arigatours@gmail.com
